{% load autores articulos%}
{% if paginator %}



<nav class="text-center">
<ul id="pagination-up" class="pagination-sm"></ul>
</nav>
{% endif %}


	{% for articulo in object_list %}

	<div class="panel-group" id="accordion_{{forloop.counter}}" role="tablist" aria-multiselectable="true">
		<div class="panel panel-default">
			<div class="panel-heading" role="tab" id="headingOne_{{forloop.counter}}">	
				<div class=" text-justify row" data-toggle="collapse" data-parent="#accordion" href="#collapseOne_{{forloop.counter}}" aria-expanded="true" aria-controls="collapseOne_{{forloop.counter}}">
    				<div><h4><span class="label label-success">{{page_obj.number}}.{{forloop.counter}}.</span></h4></div>
    				<div class="col-sm-12">
    					<h4><a class="">{{articulo.titulo|capitalize_title}}</a></h4>	
    				</div>	
  				</div>		
			</div>
			<div id="collapseOne_{{forloop.counter}}" class="panel-collapse collapse out" role="tabpanel" aria-labelledby="headingOne_{{forloop.counter}}">
				<div class="panel-body text-justify">
					<h5>Autores</h5>
					{% sin_autores_repetidos articulo  %}
					<br>
					<h5>Descripci&oacute;n</h5>
					{{articulo.descripcion|linebreaksbr}}
					{%if articulo.palabras_claves.exists%}
					<h5>Palabras Clave</h5>
					{%for palabra in articulo.palabras_claves.values%}
						<a href="{% url 'articulos'%}?tags={{palabra.descripcion}}">{{palabra.descripcion}}</a>
					{%if not forloop.last%}-
					{%endif%}
					{%endfor%}
					{%endif%}
					<h5 class="pull-right">Art&iacute;culo Completo 
						<a href="{{articulo.file.url}}" target="_blank"><img src ="{{ STATIC_URL }}img/download.png" alt="Articulos" height="50" width="50" class=""/></a>
					</h5>
					
				</div>
			</div>
		</div>
	</div>
	
	{% empty %}
		<div class="well text-center" style="margin-bottom: 0px;">
			No existen art&iacute;culos que coincidan con los t&eacute;rminos de b&uacute;squeda indicados.
		</div>
	{%endfor%}	
	
{% if paginator %}
<nav class="text-center">
<ul id="pagination-down" class="pagination-sm"></ul>
</nav>

<script>
$(document).ready(function(){
$(".pagination-sm").twbsPagination({
        totalPages: {{paginator.num_pages}},
        visiblePages: 6,
        first: '&laquo;',
        startPage: {{ page_obj.number }},
        prev: '',
        next: '',
        last: '&raquo;',
        href: '{{filters|safe}}page={% verbatim %}{{number}}{% endverbatim %}' 
    });
});
 </script>
{% endif %}
