{% extends  "base.html" %}

{%block contenido%}

<div class="alert alert-success col-lg-10 col-lg-offset-1 text-center">
	<h3>{{mensaje}}</h3>
	<br>
	<a href="/">Click aqu&iacute; para ir a nuestra P&aacute;gina Principal</a>
</div>

{%endblock%}
