{% extends  "base.html" %}


{%block contenido%}
{% load articulos %}
{%if articulo%}
<div class="col-lg-10 col-lg-offset-1 alert alert-success">
	<div id="mensajes" class="alert alert-danger hidden"></div>
	<form class="form-horizontal" action="/avalar_articulo/{{articulo.slug}}" method="post">
		{%csrf_token%}
		<legend class="text-center">
			Aval de Art&iacute;culo Publicado
		</legend>
		<div class="well text-center">
			A continuaci&oacute;n se muestran los datos del art&iacute;culo publicado que fue recopilado por nosotros, por favor edite lo que 
			considere necesario con el fin de mantener la informaci&oacute;n completa y correcta.
		</div>
		<fieldset class="text-center">
		<div class="form-group">
				<label for="inputTitulo" class="col-lg-2 control-label">T&iacute;tulo</label>
				<div class="col-lg-9">
					<textarea class="form-control text-center" rows="3" id="inputTitulo" name="titulo">{{articulo.titulo|capitalize_title}}</textarea>
				</div>
			</div>
			<br>
		</fieldset>
		<fieldset class="col-md-6">
			<div class="form-group" id="autores">
				<label for="inputAutor" class="col-lg-2 control-label">Autores</label>
				<div class="pull-right">
					<button type="button" class="btn btn-default btn-sm btn-primary" data-toggle="modal" data-target="#agregarAutor">
						<span class="glyphicon glyphicon-plus" aria-hidden="true" title="Agregar Autor"></span>
					</button>
				</div>
				{%for autor in articulo.autores.values%}
				<div class="col-lg-9 {%if not forloop.first%}col-lg-offset-2{%endif%}" id="{{articulo.id}}_{{autor.id}}">
					<div class="input-group">
						<input type="text" class="form-control" id="inputAutor" value="{{autor.cedula}} - {{autor.nombre|title}} {{autor.apellido_primero|title}} {{autor.apellido_segundo|title}}">
						<span class="input-group-addon glyphicon glyphicon-trash" title="Eliminar Autor" onclick="eliminarAutor({{autor.id}}, {{articulo.id}}, this)"></span>
					</div>
				</div>
				{%endfor%}
			</div>

			<div class="form-group">
				<label for="textAreaDescripcion" class="col-lg-2 control-label">Descripci&oacute;n</label>
				<div class="col-lg-10">
					<textarea class="form-control" rows="15" id="textAreaDescripcion" name="descripcion">{{articulo.descripcion}}</textarea>
				</div>
			</div>

		</fieldset>
		<fieldset class="col-md-6">
			<div class="form-group" id="palabras">
				<label class="col-lg-3 control-label">Palabras Clave</label>
				<div class="pull-right">
					<button type="button" class="btn btn-default btn-sm btn-primary" data-toggle="modal" data-target="#agregarPalabraClave">
						<span class="glyphicon glyphicon-plus" aria-hidden="true" title="Agregar Palabra Clave"></span>
					</button>
				</div>
				{%for palabra in articulo.palabras_claves.values%}
				<div class="col-lg-8 {%if not forloop.first%}col-lg-offset-3{%endif%}" id="{{articulo.id}}_{{palabra.id}}">
					<div class="input-group">
						<input type="text" class="form-control" value="{{palabra.descripcion|title}}">
						<span class="input-group-addon glyphicon glyphicon-trash" title="Eliminar Palabra Clave" onclick="eliminarPalabraClave({{palabra.id}}, {{articulo.id}}, this)"></span>
					</div>
				</div>
				{%endfor%}
			</div>
			<div class="form-group">
				<label for="textAreaDescripcion" class="col-lg-3 control-label">Fecha de Descarga</label>
				<div class="col-lg-8">
					<input type="text" class="form-control" value="{{articulo.fecha_descarga}}" readonly="true">
				</div>
			</div>
			<div class="form-group">
				<label class="col-lg-3 control-label">Art&iacute;culo Completo</label>
				<div class="col-lg-4">
					<a href="{{articulo.file.url}}" target="_blank"><img src ="{{ STATIC_URL }}img/download.png" alt="Articulos" height="50" width="50" class=""/></a>
				</div>
				<div class="col-lg-5">
					<br>
					<span class="glyphicon glyphicon-share-alt"></span>
					<a href="{{articulo.urls_obtenido}}" target="_blank">Descarga Externa</a>
				</div>
			</div>
			<div class="well text-center pull-left">
				<h3>¿Desea que este art&iacute;culo forme parte de nuestro repositorio p&uacute;blico?</h3>
				<br>
				<button type="submit" class="btn btn-success">
					S&iacute;
				</button>
				<a type="button" class="btn btn-default" href="/no_avalar_articulo/{{articulo.slug}}">
					No
				</a>
				<a type="button" class="btn btn-danger" href="/no_autor/{{articulo.slug}}/{{autor}}">
					No soy el autor
				</a>
			</div>

		</fieldset>
	</form>

</div>

<!-- MODALS -->
<div class="modal fade" id="agregarAutor">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">Agregar Autor</h4>
			</div>
			<div class="modal-body">
				<form method="post" class="form-horizontal" action="/{{articulo.slug}}/agregar_autor" data-ajax-submit="" onsubmit="return false;" data-success="guardarAutor">
					{%csrf_token%}
					<fieldset>
						{% for field in autorForm %}
						<div class="form-group">
							<label class="col-lg-4 control-label">{{field.label}}</label>
							<div class="col-lg-6">
								{{field}}
							</div>
						</div>
						{%endfor%}
						<div class="btn-group pull-right">
							<button type="button" class="btn btn-danger" data-dismiss="modal" >
								Cancelar
							</button>
							<button type="submit" class="btn btn-success" >
								Guardar
							</button>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="agregarPalabraClave">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">Agregar Palabra Clave</h4>
			</div>
			<div class="modal-body">
				<form method="post" class="form-horizontal" action="/{{articulo.slug}}/agregar_palabra" data-ajax-submit="" onsubmit="return false;" data-success="guardarPalabra">
					{%csrf_token%}
					<fieldset>
						{% for field in palabraForm %}
						<div class="form-group">
							<label class="col-lg-4 control-label">{{field.label}}</label>
							<div class="col-lg-6">
								{{field}}
							</div>
						</div>
						{%endfor%}
						<div class="btn-group pull-right">
							<button type="button" class="btn btn-danger" data-dismiss="modal">
								Cancelar
							</button>
							<button type="submit" class="btn btn-success">
								Guardar
							</button>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
</div>

<!-- FIN MODALS -->

{%else%}
<div class="alert alert-danger col-lg-10 col-md-offset-1 text-center">
	<h3>No existe este art&iacute;culo indicado, por favor compruebe que ingres&oacute; una URL correcta en el sistema.</h3>
</div>

{%endif%}

{% endblock %}