{% load staticfiles %}
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>RAAC</title>

		<link rel="icon" href="{{ STATIC_URL }}img/favicon.png" type="image/png" />

		<link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css">
		<script src="{{ STATIC_URL }}js/jquery.min.js"></script>
		<script src="{{ STATIC_URL }}js/jquery-ui.js"></script>
		<script src="{{ STATIC_URL }}js/academico.js"></script>
		<script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="{% static 'django_ajax/js/jquery.ajax.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'django_ajax/js/jquery.ajax-plugin.min.js' %}"></script>
	</head>
	<body>
		<a type="button" href="/" class="btn btn-success text-center pull-left" style="margin-left:20px;" title="P&aacute;gina Principal">
			<span class="glyphicon glyphicon-home"></span>
		</a>
		<h1 class="text-center alert"><a href="/"><img src ="{{ STATIC_URL }}img/favicon.png" alt="Articulos" height="100" width="100" class=""/></a> &nbsp;
		Repositorio de Art&iacute;culos Acad&eacute;micos Costarricenses</h1>	
		<hr>
		<div class="row">
			{%block contenido%}
			{%endblock%}
		</div>
		<div class="row">
			<div class="well text-center col-lg-10 col-sm-offset-1">
				Curso: Recuperaci&oacute;n de Informaci&oacute;n
				<br />
				Marta Solano A96021 - Luis Z&aacute;rate A96950
				<br />
				I Semestre - 2015
			</div>
		</div>
		<script type="text/javascript" src="{% static 'js/jquery.twbsPagination.min.js' %}"></script>
		
	</body>
</html>