{% extends  "base.html" %}

{%block contenido%}
<div class="col-sm-3 col-sm-offset-1 ">
	{%block buscar%}
	<div class="alert alert-danger">
		<form class="form-horizontal" method="post" action="/buscar/{{cat_tags}}">
			{%csrf_token%}
			<fieldset>
				<legend class="text-center">
					Realizar B&uacute;squeda
				</legend>
				<div class="form-group">
					<label for="inputTitulo" class="col-lg-4 control-label">T&iacute;tulo</label>
					<div class="col-lg-8">
						<input type="text" class="form-control" id="inputTitulo" name="titulo" value="{{titulo}}">
					</div>
				</div>
				<div class="form-group">
					<label for="textAreaDescripcion" class="col-lg-4 control-label">Descripci&oacute;n</label>
					<div class="col-lg-8">
						<textarea class="form-control" rows="10" id="textAreaDescripcion" name="descripcion">{{descripcion}}</textarea>
					</div>
				</div>
				<button type="submit" class="btn btn-danger pull-right">
					Buscar
				</button>
			</fieldset>
		</form>

	</div>
	{%endblock%}
</div>

<div class="alert alert-success col-sm-7">
	{%block 'articulos'%}
	<h3 class="text-center">Listado de Art&iacute;culos</h3>
	{% include "academico/articulo.html" %}
	{%endblock%}
</div>
</div>
{%endblock%}
